<div class="bg-white py-24 sm:py-32 animate-fade-in">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl space-y-16  lg:mx-0 lg:max-w-none">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-[#7F46DB]">{{lang.getInContact}}</h2>
      </div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3 mt-5">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 col-span-3 lg:gap-8">
          <div class="rounded-2xl bg-blue-50  p-10">
            <h3 class="text-base font-semibold leading-7 text-[#7F46DB]">{{lang.email}}:</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-gray-600" href="mailto:Info@asistentevirtualsas.com">Info@asistentevirtualsas.com</a></dd>
              </div>

            </dl>
          </div>
          <div class="rounded-2xl bg-blue-50  p-10">
            <h3 class="text-base font-semibold leading-7 text-[#7F46DB]">{{lang.phone}}</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+1 (585) 902-0385</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-blue-50  p-10">
            <h3 class="text-base font-semibold leading-7 text-[#7F46DB]">{{lang.address}}:</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">

              <div class="mt-1">
                <dt class="sr-only">Address</dt>
                <dd>J&D VIRTUAL SERVICES CORP
                  9310 OLD KINGS RD S STE 1103
                  JACKSONVILLE, FL 32257</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-blue-50  p-10">
            <h3 class="text-base font-semibold leading-7 text-[#7F46DB]">{{lang.meet}}:</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">

              <div class="mt-1">
                <dt class="sr-only">Address</dt>
                  <a target="_blank" href="https://calendly.com/asistentevirtual-sas/servicios-asistente-virtual">
                    Click aquí
                  </a>
              </div>
            </dl>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
