<div class="relative isolate overflow-hidden animate-fade-in bg-white py-24 sm:py-32">
  <div class="absolute -top-80 left-[max(6rem,33%)] -z-10 transform-gpu blur-3xl sm:left-1/2 md:top-20 lg:ml-20 xl:top-3 xl:ml-56" aria-hidden="true">
    <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.6%, 100% 17.2%, 76.7% 3.1%, 48.4% 0.1%, 44.6% 4.8%, 54.5% 25.4%, 59.8% 49.1%, 55.3% 57.9%, 44.5% 57.3%, 27.8% 48%, 35.1% 81.6%, 0% 97.8%, 39.3% 100%, 35.3% 81.5%, 97.2% 52.8%, 63.1% 29.6%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-5 gap-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:col-span-3">
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-[#7F46DB] sm:text-4xl">¿Cómo usar Drive?</h1>
      <p class="mt-6 text-lg leading-8 text-gray-700">
        El Drive es una herramienta de la Suite de Google, que <b>
          te permitirá almacenar todos tus archivos
          </b>
          multimedia o documentos en la nube con un límite de 15 GB sin costo.


          Recomendación: guarda TODO en la nube, así tendrás acceso a tus archivos desde cualquier dispositivo, además tendrás menos probabilidades de perderlos si tu teléfono, laptop o tablet se dañan.
          En caso de que necesites más espacio para tus archivos, puedes ampliar el almacenamiento comprando planes a Google.
      </p>
      <p class="my-4 text-gray-700 text-lg">
        En caso de que necesites más espacio para tus archivos, puedes ampliar el almacenamiento comprando planes a Google.
      </p>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-[#7F46DB]">¡Estamos para ayudarte</h2>
      <p class="mt-6">
        Contamos con un equipo capacitado para llevar a cabo todas estas aplicaciones y recomendaciones para facilitarte el trabajo y sacarles el máximo provecho.
        Un Asistente Virtual te facilita tus tareas,
         <b>
          ¡escríbenos para tu propuesta!
        </b>
      </p>
    </div>
    <div class="col-span-2  mt-16  gap-x-8 gap-y-16 lg:mx-0 lg:mt-10  ">
      <div class="max-w-xl text-base leading-7 text-gray-700 lg:col-span-7">

        <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
            </svg>
            <span><strong class="font-semibold text-[#7F46DB]">Compartir archivos: </strong>
              esta característica es muy importante porque nos permite crear un Word, Excel o PowerPoint u otros programas y compartirlos con otros usuarios por medio de un link o correo electrónico, teniendo la ventaja de tener a varias personas editando simultáneamente el documento sin que el archivo se dañe o pierda alguna información.
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
            <span><strong class="font-semibold text-[#7F46DB]">Seguridad: </strong>
              Tenemos también la seguridad y privacidad de nuestros archivos, excepto que el usuario los designe como públicos o visibles para determinados contactos (siempre y cuando no sean empresariales o educativas)
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
              <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
            </svg>
            <span><strong class="font-semibold text-[#7F46DB]">Trabajar sin conexión:</strong>
              Esta función es útil cuando no estamos conectados a alguna fuente de internet y vamos por ejemplo, en un avión. Si quieres activar esta función es necesario ingresar al servicio de Google Drive con un dispositivo conectado a internet que disponga de navegador Chrome. Estando en Drive, en la esquina superior derecha, hay una tuerca, le das clic y accedes a configuración > general > sin conexión > Activa
            </span>
          </li>
        </ul>
        <div class="max-w-xl space-y-8 py-3 px-6">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-[#7F46DB]">ALGUNOS TIPS: </h3>
          </div>
          <div class=" border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-3  sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">1.- Guarda tus documentos en un solo lugar</dt>
              </div>
              <div class="px-4 py-3  sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">2.- Sincroniza tu computadora </dt>
              </div>
              <div class="px-4 py-3  sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">3.- Trabaja con carpetas compartidas </dt>
              </div>
              <div class="px-4 py-3  sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">4.- Haz comentarios en documentos compartidos </dt>
              </div>
              <div class="px-4 py-3  sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">5.- Una vez lleno el almacenamiento, ve borrando lo que no necesites (incluso los adjuntos en el correo gmail) </dt>
              </div>
            </dl>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
