<div class="bg-white animate-fade-in">
  <main class="isolate ">
    <!-- Hero section -->
    <div class="relative isolate   -z-10 overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-14">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#7F46DB] to-[#07F9A9] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="mx-auto max-w-7xl px-6 pt-32 pb-14 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
          <h1 class="max-w-2xl  text-4xl font-bold tracking-tight text-[#7F46DB] sm:text-6xl lg:col-span-2 xl:col-auto ">{{lang.howDoesOurServiceWork}}</h1>
          <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
            <p class="text-lg leading-8 text-gray-600">{{lang.howDoesOurServiceWorkLabel}}</p>
            <div class="mt-10 flex items-center  gap-x-6">
              <button type="button" class="rounded-md bg-[#7F46DB] px-3.5 py-3.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                {{lang.callToAction4}}
              </button>
            </div>
          </div>
          <img src="assets/images/howdoesservices.jpeg" alt="" class="mt-10 aspect-[6/5] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:-mt-10 lg:max-w-none xl:row-span-2 xl:row-end-2 ">
        </div>
      </div>
      <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>
    <!-- Process section -->
    <div class="mx-auto mt-0  px-10 max-w-7xl   lg:px-8">

      <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div class="bg-purple-50 p-2 rounded-lg">
          <dt class="font-semibold text-[#7F46DB]">1. {{lang.process1}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process1Description}}</dd>
        </div>
        <div class="">
          <dt class="font-semibold text-[#7F46DB]">2. {{lang.process2}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process2Description}}</dd>
        </div>
        <div class="bg-purple-50 p-2 rounded-lg">
          <dt class="font-semibold text-[#7F46DB]">3. {{lang.process3}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process3Description}}</dd>
        </div>
        <div class="">
          <dt class="font-semibold text-[#7F46DB]">4. {{lang.process4}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process4Description}}</dd>
        </div>
        <div class="bg-purple-50 p-2 rounded-lg">
          <dt class="font-semibold text-[#7F46DB]">5. {{lang.process5}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process5Description}}</dd>
        </div>
        <div class="">
          <dt class="font-semibold text-[#7F46DB]">6. {{lang.process6}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process6Description}}</dd>
        </div>
        <div class="bg-purple-50 p-2 rounded-lg">
          <dt class="font-semibold text-[#7F46DB]">7. {{lang.process7}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process7Description}}</dd>
        </div>
        <div class="">
          <dt class="font-semibold text-[#7F46DB]">8. {{lang.process8}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process7Description}}</dd>
        </div>
        <div class="bg-purple-50 p-2 rounded-lg">
          <dt class="font-semibold text-[#7F46DB]">9. {{lang.process9}}</dt>
          <dd class="mt-1 text-gray-600">{{lang.process8Description}}</dd>
        </div>
      </dl>
    </div>
    <!-- Recruiting section -->
    <div class="relative  px-10 isolate overflow-hidden bg-blue-50 py-24 my-20 sm:py-32 lg:overflow-visible lg:px-0">
      <div class="absolute inset-0 -z-10 overflow-hidden">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M100 200V.5M.5 .5H200" fill="none" />
            </pattern>
          </defs>
          <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
            <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
          </svg>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
        </svg>
      </div>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <p class="text-3xl font-bold leading-7 text-[#7F46DB]">{{lang.recruiting}}</p>
              <p class="mt-6 text-base leading-8 text-gray-700">{{lang.howDoesServiceWorkOtherTitle}}</p>
            </div>
          </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="assets/images/recruitment.jpeg" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              <ul role="list" class="mt-8 space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  <span>
                    <strong class="font-semibold text-[#7F46DB]">{{lang.howDoesServiceWorkOther1Title}}</strong>
                    <br>
                    {{lang.howDoesServiceWorkOther1Label}}
                  </span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  <span>
                    <strong class="font-semibold text-[#7F46DB]">{{lang.howDoesServiceWorkOther2Title}}</strong>
                    <br>
                    {{lang.howDoesServiceWorkOther2Label}}
                  </span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  <span>
                    <strong class="font-semibold text-[#7F46DB]">{{lang.howDoesServiceWorkOther3Title}}</strong>
                    <br>
                    {{lang.howDoesServiceWorkOther3Label}}
                  </span>
                </li>
                <li class="flex gap-x-3">
                  <svg class="mt-1 h-5 w-5 flex-none text-[#7F46DB]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  <span>
                    <strong class="font-semibold text-[#7F46DB]">{{lang.howDoesServiceWorkOther4Title}}</strong>
                    <br>
                    {{lang.howDoesServiceWorkOther4Label}}
                  </span>
                </li>


              </ul>
              <p class="mt-8">
                {{lang.howDoesServiceWorkOtherAddition}}
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- other section -->
    <div class="mx-auto mt-32 max-w-7xl px-10 sm:mt-5 lg:px-8">
      <div class="mx-auto flex max-w-2xl flex-col items-start justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
        <div class="w-full lg:max-w-lg lg:flex-auto">
          <h2 class="text-3xl font-bold tracking-tight text-[#7F46DB] sm:text-4xl">{{lang.kidnessTitle}}</h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">{{lang.kidnessLabel}}</p>
          <img src="https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1344&h=1104&q=80" alt="" class="mt-16 aspect-[6/5] w-full rounded-2xl bg-gray-50 object-cover lg:aspect-auto lg:h-[34.5rem]">
        </div>
        <div class="w-full lg:max-w-xl lg:flex-auto">
          <h3 class="sr-only">Job openings</h3>
          <ul class="-my-8 divide-y divide-gray-100">
            <li class="py-8">
              <dl class="relative flex flex-wrap gap-x-3">
                <dt class="sr-only"></dt>
                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-[#7F46DB]">
                  <a >
                   {{lang.kidnessListItem1Title}}
                    <span class="absolute inset-0" aria-hidden="true"></span>
                  </a>
                </dd>
                <dt class="sr-only">Description</dt>
                <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">
                  {{lang.kidnessListItem1Label}}
                </dd>
              </dl>
            </li>
            <li class="py-8">
              <dl class="relative flex flex-wrap gap-x-3">
                <dt class="sr-only">Role</dt>
                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-[#7F46DB]">
                  <a >
                    {{lang.kidnessListItem2Title}}
                    <span class="absolute inset-0" aria-hidden="true"></span>
                  </a>
                </dd>
                <dt class="sr-only">Description</dt>
                <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">
                  {{lang.kidnessListItem2Label}}
                </dd>
              </dl>
            </li>
            <li class="py-8">
              <dl class="relative flex flex-wrap gap-x-3">
                <dt class="sr-only">Role</dt>
                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-[#7F46DB]">
                  <a >
                    {{lang.kidnessListItem3Title}}
                    <span class="absolute inset-0" aria-hidden="true"></span>
                  </a>
                </dd>
                <dt class="sr-only">Description</dt>
                <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">
                  {{lang.kidnessListItem3Label}}
                </dd>
              </dl>
            </li>
            <li class="py-8">
              <dl class="relative flex flex-wrap gap-x-3">
                <dt class="sr-only">Role</dt>
                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-[#7F46DB]">
                  <a >
                    {{lang.kidnessListItem4Title}}
                    <span class="absolute inset-0" aria-hidden="true"></span>
                  </a>
                </dd>
                <dt class="sr-only">Description</dt>
                <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">
                  {{lang.kidnessListItem4Label}}
                </dd>
              </dl>
            </li>
            <li class="py-8">
              <dl class="relative flex flex-wrap gap-x-3">
                <dt class="sr-only">Role</dt>
                <dd class="w-full flex-none text-lg font-semibold tracking-tight text-[#7F46DB]">
                  <a >
                    {{lang.kidnessListItem5Title}}
                    <span class="absolute inset-0" aria-hidden="true"></span>
                  </a>
                </dd>
                <dt class="sr-only">Description</dt>
                <dd class="mt-2 w-full flex-none text-base leading-7 text-gray-600">
                  {{lang.kidnessListItem5Label}}
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
