@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Pangram';
  src: url('/assets/fonts/Pangram-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  font-family: 'Pangram', sans-serif;
}
.encode-sans-expanded-thin {
  font-family: 'Pangram', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.encode-sans-expanded-extralight {
  font-family: 'Pangram', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.encode-sans-expanded-light {
  font-family: 'Pangram', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.encode-sans-expanded-regular {
  font-family: 'Pangram', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.encode-sans-expanded-medium {
  font-family: 'Pangram', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.encode-sans-expanded-semibold {
  font-family: 'Pangram', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.encode-sans-expanded-bold {
  font-family: 'Pangram', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.encode-sans-expanded-extrabold {
 font-family: 'Pangram', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.encode-sans-expanded-black {
 font-family: 'Pangram', sans-serif;
  font-weight: 900;
  font-style: normal;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}
